/*
 *@author wk
 *@descript 主样式文件
 */
 
 //varabels
 @backgroundColor:#f0f0f0;
 /*
 
  main style
 ------------------------------------------------------
  */
 body {
		background-color: @backgroundColor;
		margin: 0px;
		overflow: hidden;
		user-select:none;
	}
	.wrapper{
	  position: absolute;
	  top:0;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  max-width:1800px;
	  min-width:768px;
	}
	.header{
		position:absolute;
		top:0;
		height:32px;
		width:100%;
		.menu{
			height:100%;
			background-color:#eee;
			.menu-bar{
				display:inline-block;
				line-height:32px;
				padding:0 10px;
				color:#888;
				font-size:15px;
				cursor:pointer;
			}
		}	
	}
	.menu-bar .menu-file{
		position:absolute;
		display:none;
		z-index:10;
		background:#fff;
		.item{
			padding:10px;
		}
	}
	.menu-bar:hover .menu-file{
		display:block;
	}
	.content{
		overflow:hidden;
		position:absolute;
		top:32px;
		bottom:0;
		width:100%;
		.primary{
			margin-right:300px;
			height: 100%;
			.map{
				height: 100%;
			}			
		}
		.secondary{
			width:300px;
			height: 100%;
			position:absolute;
			right:0;
			top:0;
			overflow-y:auto;
			background-color:#eee;
			.obj-info{
				
			}
		}
	}

/*
component style
---------------------------------------------------------------
 */
//info pan
.obj-info{
	color:#888;
}
//stats pan
#Stats-output{
	position:absolute;
	left:0;
	bottom:0;
}

/*
button style
---------------------------------------------------------------
 */
.btn{
	color: #000;
    background-color: #fff;
    border-color: #ffff;
    border-style: solid;
    border-radius: 4px;
    cursor: pointer;
    padding:6px 12px;
}
.btn.btn-sm{
	padding:1px 6px;
}
.btn.btn-danger{
	color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}


/**
 * modal test style
 ----------------------------------------------------------------
 */
.data-modal{
	position:relative;
	display:none;
	width:400px;
	margin:auto;
	z-index: 999;
	top: 200px;
	background-color:#fff;

	border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.data-modal-body{
	padding: 0px 10px 10px 10px;
	max-height: 300px;
    overflow: auto;
}

.modal-display{
	display:block;
}

.modal-head{
	padding: 10px;
	border-bottom: 1px solid #aaa
}

.modal-table{
	width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}

.close-icon{
	float:right;
	cursor:pointer;
}

.data-modal-solar{
	padding: 20px 0px;
}

.data-modal-solar input{
	padding:5px;
	margin-left:30px;
}

.data-modal-solar button{
	padding:5px 0px;
	float:right;
	margin-left:5px;
}
