<div class="user-modal">
    <div class="modal-head">
        光照分析
        <span class="close-icon" data-bind="click: solarmodal.closeModal">X</span>
    </div>
    <div class="data-modal-body">
        <form class="data-modal-solar">
            <input type="datetime" required="required" data-bind="value: solarmodal.solarTime">
            <button type="sumit" data-bind="click: solarmodal.offSolar">关闭光照</button>
            <button type="sumit" data-bind="click: solarmodal.emitSolar">显示光照</button>
        </div>
    </div>
</div>
