<!-- addResourceModal.html -->
<div class="modal fade" style="width:100%;background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:closeModal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text:headerText"></h4>
            </div>
            <div class="modal-body">
                <form class="data-form">
                    <div class="form-group">
                        <label for="file">名称</label>
                        <input id="text" type="text" class="form-control" data-bind="value:resourceName"/>
                    </div>
                    <div class="form-group">
                        <label for="file">文件</label>
                        <input id="File" type="file" class="form-control"/>
                        <button type="button" class="btn btn-default uploadBtn" data-bind="click:function(){upload('File')}">上传</button>

                    </div>
                    <div class="form-group">
                        <label for="file">缩略图</label>
                        <input id="Img" type="file" class="form-control"/>
                        <button type="button" class="btn btn-default uploadBtn" data-bind="click:function(){upload('Img')}">上传</button>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:addResource">添加</button>
            </div>
        </div>
    </div>
</div>
