<div class="modal fade" style="width:100%;background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:closeModal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">小区报表</h4>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
              
            </div>
        </div>
    </div>
</div>