<!-- addProjectModal.html -->
<!-- inputModal.html -->
<div class="modal fade" style="width:100%;background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:closeFn"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text:headerText"></h4>
            </div>
            <div class="modal-body">
            	<div class="form-item">
					<label>项目名：</label>
					<input type="text" data-bind="value:name" class="input"/>
            	</div>
            	<div class="form-item">
					<label>项目占地面积(m2)：</label>
					<input type="text" data-bind="value:projectArea" class="input"/>
            	</div>
            	<div class="form-item">
					<label>项目绿化面积(m2)：</label>
					<input type="text" data-bind="value:greenArea" class="input"/>
            	</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bind="click:function(){clickFn(false)}">取消</button>
                <button type="button" class="btn btn-primary" data-bind="click:function(){clickFn(true)}">确定</button>
            </div>
        </div>
    </div>
</div>