<div class="modal fade" style="width:100%;background-color: rgba(0,0,0,0.5);overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                <button type="button" class="close" data-bind="click:closeModal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" data-bind="text:headerText"></h4>
            </div>
            <div class="modal-body">
                <table class="modal-table" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>图片</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: resourceList">
                        <tr class="modal-table-row">
                            <td style="vertical-align:middle;text-align: center;" width="33%">
                                <p data-bind="text: name" style="text-overflow:ellipsis;overflow: hidden;"></p>
                            </td>
                            <td style="vertical-align:middle;" width="33%">
                                <img data-bind="attr:{src:$root.imgFilter(faceImg)}"  style="width:60px;height: 60px;" />
                            </td>
                            <td style="vertical-align:middle;" width="33%">
                                <button class="btn btn-danger" data-bind="click: $root.removeResource">删除</button>
                                <button class="btn btn-primary" data-bind="click: $root.loadResource">获取</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click:addResource">添加资源</button>
            </div>
        </div>
    </div>
</div>